<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.hackitout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="hackitout"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackitout">
        <activity android:name=".dsCourse" android:label="DATA STRUCTURE FOR BEGINNERS"/>
        <activity android:name=".dscCourse" android:label="DATA SCIENCE FOR BEGINNERS"/>
        <activity android:name=".mlCourse" android:label="MACHINE LEARNING FOR BEGINNERS"/>
        <activity android:name=".aiCourse" android:label="ARTIFICIAL INTELLIGENCE FOR BEGINNERS"/>
        <activity android:name=".cppCourse" android:label="C++ FOR BEGINNERS"/>
        <activity android:name=".webCourse" android:label="WEB DEVELOPMENT FOR BEGINNERS"/>
        <activity android:name=".pythonCourse" android:label="PYTHON FOR BEGINNERS"/>
        <activity android:name=".javaCourse" android:label="JAVA FOR BEGINNERS"/>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>